<!--MAIN CONTAINER START-->
<div class="main-container">
  <!--ASIDE START-->
  <div class="aside">
    <div class="logo">
      <a href="#"><span>A</span>tlas</a>
    </div>
    <div class="nav-toggler">
      <span></span>
    </div>
    <ul class="nav">
      <li><a href="#" class="active"><i class="fa fa-home"></i> Home </a></li>
      <li><a href="#"><i class="fa fa-user"></i> About </a></li>
      <li><a href="#"><i class="fa fa-list"></i> Services </a></li>
      <li><a href="#"><i class="fa fa-briefcase"></i> Portfolio </a></li>
      <li><a href="#"><i class="fa fa-comments"></i> Contact </a></li>
    </ul>
  </div>
  <!--ASIDE END-->

  <!--MAIN CONTENT START-->
  <div class="main-content">

    <!--HOME SECTION START-->
    <section class="home section">
      <div class="container">
        <div class="row">
          <div class="home-info padd-15">
            <h3 class="hello">Hello, my name is <span class="name">Thembile Mkhwanazi</span> </h3>
            <h3 class="my-profession">I' m a <span class="typing">Software Developer</span></h3>
            <p>I'm a Software Developer. My expertise is to create and website design and many many many more...</p>
            <a href="#contact" class="btn hire-me">Hire Me</a>
          </div>
          <div class="home-img padd-15">
            <img src="/images/hero.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <!--HOME SECTION END-->

    <!--ABOUT SECTION START-->
    <section class="about section">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>About Me</h2>
          </div>
        </div>
        <div class="row">
          <div class="about-content padd-15">
            <div class="row">
              <div class="about-text padd-15">
                <h3>I'm Thembile Mkhwanazi and I'm a <span>Software Developer</span></h3>
                <p>I am a self-motivated and hardworking individual seeking for an opportunity to work in a challenging environment
                  to prove my skills and utilize my knowledge & intelligence in the growth of the organization.
                  I am passionate in developing innovative programs that expedite the efficiency and effectiveness of organizational success
                  and writing code to create systems that are reliable and user-friendly.</p>
              </div>
            </div>
            <div class="row">
              <div class="personal-info padd-15">
                <div class="row">
                  <div class="info-item padd-15">
                    <p>Birthday : <span>17 April 2000</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Age : <span>22</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Website : <span>www.thembilemkhwanazi.com</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Email : <span>thembilemkhwanazi.tm@gmail.com</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Phone: <span>083 344 6278</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>City: <span>Johannesburg</span></p>
                  </div>
                </div>
                <div class="row">
                  <div class="buttons padd-15">
                    <a href="#" class="btn">Download CV</a>
                    <a href="#contact" class="btn hire-me">Hire Me</a>
                  </div>
                </div>
              </div>
              <!--SKILLS LIST START-->
              <div class="skills padd-15">
                <div class="row">
                  <div class="skill-item padd-15">
                    <h5>CSS</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 80%;"></div>
                      <div class="skill-percent">80%</div>
                    </div>
                  </div>

                  <div class="skill-item padd-15">
                    <h5>JavaScript</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 76%;"></div>
                      <div class="skill-percent">76%</div>
                    </div>
                  </div>
                  <div class="skill-item padd-15">
                    <h5>Java</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 86%;"></div>
                      <div class="skill-percent">86%</div>
                    </div>
                  </div>
                  <div class="skill-item padd-15">
                    <h5>HTML</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 90%;"></div>
                      <div class="skill-percent">90%</div>
                    </div>
                  </div>
                  <div class="skill-item padd-15">
                    <h5>Bootstrap</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 76%;"></div>
                      <div class="skill-percent">76%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--SKILLS LIST END-->
            <div class="row">
              <div class="education padd-15">
                <h3 class="title">Education</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                    <!--TIMELINE ITEM-->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2019 - 2021
                        </h3>
                        <h4 class="timeline-title">Information Technology: Software Development</h4>
                        <p class="timeline-text">I learned how to read and write code using viable inputs and outputs.
                          Experienced at testing code in order to measure the effectiveness of software programs, backend services and user interfaces.
                          Also was equipped with problem-solving abilities to overcome glitches with creative solutions
                          that are strategically designed to last long-term.</p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2019 - 2021
                        </h3>
                        <h4 class="timeline-title">Information Technology: Software Development</h4>
                        <p class="timeline-text">I learned how to read and write code using viable inputs and outputs.
                          Experienced at testing code in order to measure the effectiveness of software programs, backend services and user interfaces.
                          Also was equipped with problem-solving abilities to overcome glitches with creative solutions
                          that are strategically designed to last long-term.</p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2019 - 2021
                        </h3>
                        <h4 class="timeline-title">Information Technology: Software Development</h4>
                        <p class="timeline-text">I learned how to read and write code using viable inputs and outputs.
                          Experienced at testing code in order to measure the effectiveness of software programs, backend services and user interfaces.
                          Also was equipped with problem-solving abilities to overcome glitches with creative solutions
                          that are strategically designed to last long-term.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="experience padd-15">
                <h3 class="title">Experience</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                      <!--TIMELINE ITEM-->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2019 - 2021
                        </h3>
                        <h4 class="timeline-title">Information Technology: Software Development</h4>
                        <p class="timeline-text">I learned how to read and write code using viable inputs and outputs.
                          Experienced at testing code in order to measure the effectiveness of software programs, backend services and user interfaces.
                          Also was equipped with problem-solving abilities to overcome glitches with creative solutions
                          that are strategically designed to last long-term.</p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2019 - 2021
                        </h3>
                        <h4 class="timeline-title">Information Technology: Software Development</h4>
                        <p class="timeline-text">I learned how to read and write code using viable inputs and outputs.
                          Experienced at testing code in order to measure the effectiveness of software programs, backend services and user interfaces.
                          Also was equipped with problem-solving abilities to overcome glitches with creative solutions
                          that are strategically designed to last long-term.</p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2019 - 2021
                        </h3>
                        <h4 class="timeline-title">Information Technology: Software Development</h4>
                        <p class="timeline-text">I learned how to read and write code using viable inputs and outputs.
                          Experienced at testing code in order to measure the effectiveness of software programs, backend services and user interfaces.
                          Also was equipped with problem-solving abilities to overcome glitches with creative solutions
                          that are strategically designed to last long-term.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--ABOUT SECTION END-->

    <!--SERVICES SECTION START-->
    <section class="service section">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>Services</h2>
          </div>
        </div>
        <div class="row">
          <!--SERVICES ITEM START-->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-mobile-alt"></i>
              </div>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <!--SERVICES ITEM END-->
          <!--SERVICES ITEM START-->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-laptop-code"></i>
              </div>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <!--SERVICES ITEM END-->
          <!--SERVICES ITEM START-->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-palette"></i>
              </div>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <!--SERVICES ITEM END-->
          <!--SERVICES ITEM START-->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-code"></i>
              </div>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <!--SERVICES ITEM END-->
          <!--SERVICES ITEM START-->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-search"></i>
              </div>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <!--SERVICES ITEM END-->
          <!--SERVICES ITEM START-->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-bullhorn"></i>
              </div>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>
            </div>
          </div>
          <!--SERVICES ITEM END-->
        </div>
      </div>
    </section>
    <!--SERVICES SECTION END-->

    <!--PORTFOLIO SECTION START-->
    <section class="portfolio section">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>Portfolio</h2>
          </div>
        </div>
        <div class="row">
          <div class="portfolio-heading padd-15">
            <h2>My Last Projects :</h2>
          </div>
        </div>
        <div class="row">
          <!--PORTFOLIO ITEM START-->
          <div class="portfolio-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
              <div class="portfolio-img">
                <img src="images/calculator.jpg" alt="">
              </div>
            </div>
          </div>
          <!--PORTFOLIO ITEM END-->
          <!--PORTFOLIO ITEM START-->
          <div class="portfolio-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
              <div class="portfolio-img">
                <img src="images/calculator.jpg" alt="">
              </div>
            </div>
          </div>
          <!--PORTFOLIO ITEM END-->
          <!--PORTFOLIO ITEM START-->
          <div class="portfolio-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
              <div class="portfolio-img">
                <img src="images/calculator.jpg" alt="">
              </div>
            </div>
          </div>
          <!--PORTFOLIO ITEM END-->
          <!--PORTFOLIO ITEM START-->
          <div class="portfolio-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
              <div class="portfolio-img">
                <img src="images/calculator.jpg" alt="">
              </div>
            </div>
          </div>
          <!--PORTFOLIO ITEM END-->
          <!--PORTFOLIO ITEM START-->
          <div class="portfolio-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
              <div class="portfolio-img">
                <img src="images/calculator.jpg" alt="">
              </div>
            </div>
          </div>
          <!--PORTFOLIO ITEM END-->
          <!--PORTFOLIO ITEM START-->
          <div class="portfolio-item padd-15">
            <div class="portfolio-item-inner shadow-dark">
              <div class="portfolio-img">
                <img src="/images/calculator.jpg" alt="">
              </div>
            </div>
          </div>
          <!--PORTFOLIO ITEM END-->
        </div>
      </div>
    </section>
    <!--PORTFOLIO SECTION END-->

    <!--CONTACT SECTION START-->
    <section class="contact section">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>Contact Me</h2>
          </div>
        </div>
        <h3 class="contact-title padd-15">Have You Any Questions ?</h3>
        <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICE</h4>
        <div class="row">
          <!--CONTACT INFO ITEM START-->
          <div class="contact-info-item padd-15">
            <div class="icon"><i class="fa fa-phone"></i> </div>
            <h4>Call Me On</h4>
            <p>083 344 6278</p>
          </div>
          <!--CONTACT INFO ITEM END-->
          <!--CONTACT INFO ITEM START-->
          <div class="contact-info-item padd-15">
            <div class="icon"><i class="fa fa-map-marker-alt"></i> </div>
            <h4>Location</h4>
            <p>Johannesburg</p>
          </div>
          <!--CONTACT INFO ITEM END-->
          <!--CONTACT INFO ITEM START-->
          <div class="contact-info-item padd-15">
            <div class="icon"><i class="fa fa-envelope"></i> </div>
            <h4>Email</h4>
            <p>thembilemkhwanazi.tm@gmail.com</p>
          </div>
          <!--CONTACT INFO ITEM END-->
          <!--CONTACT INFO ITEM START-->
          <div class="contact-info-item padd-15">
            <div class="icon"><i class="fa fa-globe-africa"></i> </div>
            <h4>Website</h4>
            <p>www.ThembileM.co.za</p>
          </div>
          <!--CONTACT INFO ITEM END-->
        </div>
        <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
        <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES :)</h4>
        <!--CONTACT FORM-->
        <div class="row">
          <div class="contact-form padd-15">
            <div class="row">
              <div class="form-item col-6 padd-15">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="form-item col-6 padd-15">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-item col-12 padd-15">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-item col-12 padd-15">
                <div class="form-group">
                  <textarea name="" class="form-control" id="" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-item col-12 padd-15">
                <button type="submit" class="btn">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--CONTACT SECTION END-->

  </div>
  <!--MAIN CONTENT END-->

</div>
<!--MAIN CONTAINER END-->
