<!--MAIN CONTAINER START-->
<div class="main-container">
  <!--ASIDE START-->
  <div class="aside">
    <div class="logo">
      <a href="#"><span>A</span>tlas</a>
    </div>
    <div class="nav-toggler">
      <span></span>
    </div>
    <ul class="nav">
      <li><a href="#" class="active"><i class="fa fa-home"></i> Home </a></li>
      <li><a href="#"><i class="fa fa-user"></i> About </a></li>
      <li><a href="#"><i class="fa fa-list"></i> Services </a></li>
      <li><a href="#"><i class="fa fa-briefcase"></i> Portfolio </a></li>
      <li><a href="#"><i class="fa fa-comments"></i> Contact </a></li>
    </ul>
  </div>
  <!--ASIDE END-->

  <!--MAIN CONTENT START-->
  <div class="main-content">
    <!--HOME SECTION START-->
    <section class="home section hidden">
      <div class="container">
        <div class="row">
          <div class="home-info padd-15">
            <h3 class="hello">Hello, my name is <span class="name">Thembile Mkhwanazi</span> </h3>
            <h3 class="my-profession">I' m a <span class="typing">Software Developer</span></h3>
            <p>I'm a Software Developer. My expertise is to create and website design and many many many more...</p>
            <a href="#contact" class="btn hire-me">Hire Me</a>
          </div>
          <div class="home-img padd-15">
            <img src="../images/profilepic.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <!--HOME SECTION END-->
    <!--ABOUT SECTION START-->
    <section class="about section">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>About Me</h2>
          </div>
        </div>
        <div class="row">
          <div class="about-content">
            About
          </div>
        </div>
      </div>
    </section>
    <!--ABOUT SECTION START-->
  </div>
  <!--MAIN CONTENT END-->

</div>
<!--MAIN CONTAINER END-->
